
html{
    font-family: 'JetBrains Mono', monospace;
}

:root {
    --bg: #131a25;
    --subbg: #141c29;
    --header: #131a25e5;
    --lnktxt: #D64550;
    --lnktxthover:#a84951;
    --pb: #dddddd36;
    --pbmain: #ddddddc0;
    --maintxt: #DDDDDD;
    --subtxt: #DDDDDD;
}

body{
    text-align: center;
    background-color: var(--bg);
    font-size: 24px;
}

h2{
    font-weight: 300;
    font-size: 1em;
}

.playerScore{
    color: #5dc05d;
}

.ties{
    color: var(--maintxt);
}

span{
    color: var(--lnktxt);
    font-weight: 300;
}
main {
    font-size: 1em;
    color: var(--maintxt);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.roundResult {
display: block;
margin-bottom: 1em;
}

#buttons{
    margin: 1em;
}

button {
    margin: 1em;
    border: 0.1em solid var(--maintxt);
    background-color: transparent;
    color: var(--maintxt);
    padding: 0.5em 1em;
    border-radius: 0.5em 0 0.5em 0;
    transition: 0.1s;
    width: 9em;
    padding: 1em 2em;
}

button:hover{
    transform: translateY(-0.2em);
    box-shadow: 0em 0.3em 0em var(--lnktxt);
}