body{
    background-color: #16161d;
}
main {
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#buttons{
    margin: 5em;
}

button {
margin: 2em;
border: 0.1em solid #f0f0f0;
background-color: transparent;
color: #f1f1f1;
padding: 0.5em 1em;
border-radius: 0.5em;
transition: 0.1s;
scale: 1.5;
}

button:hover{
    transform: translateY(-0.1em);
    box-shadow: 0em 0.3em 0.2em rgba(121, 106, 255, 0.24);
}