html{
    font-family: 'Roboto', sans-serif;
}
body{
    text-align: center;
    background-color: #222831;
    font-size: 24px;
}

h2{
    font-weight: 500;
}

.playerScore{
    color: #60f360;
}

.ties{
    color: #DDDDDD;
}

span{
    color: #F05454;
    font-weight: 300;
}
main {
    font-size: 1em;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.roundResult {
display: block;
margin-bottom: 1em;
}

#buttons{
    margin: 5em;
}

button {
margin: 2em;
border: 0.1em solid #f0f0f0;
background-color: transparent;
color: #f1f1f1;
padding: 0.5em 1em;
border-radius: 0.5em;
transition: 0.1s;
scale: 1.5;
}

button:hover{
    transform: translateY(-0.1em);
    box-shadow: 0em 0.3em 0.2em rgba(121, 106, 255, 0.24);
}